<div class="container">
    <h1 id="title">Welcome to Ember.js + AnyChart</h1>
    <div class="menu">
        <div class="links">
            {{#link-to 'simple'}}
                Simple chart
            {{/link-to}}
            {{#link-to 'stage'}}
                Using stage
            {{/link-to}}
            {{#link-to 'dynamic'}}
                Dynamic chart settings
            {{/link-to}}
            {{#link-to 'streaming'}}
                Dynamic data
            {{/link-to}}
        </div>
    </div>
    <div class="body">
        {{outlet}}
    </div>
</div>