<style>
    html, body, .ember-anychart {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .ember-anychart {
        width: 600px;
        height: 500px;
        border: 2px solid deepskyblue;
    }

    .class2 {
        border-style: dashed;
    }

    .class1 {
        border-color: red;
    }
</style>
<h1 id="title">Welcome to Ember.js + AnyChart</h1>
<div class="container">
    <div class="menu">
        <div class="links">
            {{#link-to 'simple'}}
                Simple chart
            {{/link-to}}
            {{#link-to 'stage'}}
                Using stage
            {{/link-to}}
            {{#link-to 'dynamic'}}
                Dynamic chart settings
            {{/link-to}}
        </div>
    </div>
    <div class="body">
        {{outlet}}
    </div>
</div>