<div class="container">
  <h1 id="title">Welcome to Ember plugin for AnyChart Samples</h1>
  <div class="menu">
    <div class="links">
      {{#link-to 'simple-chart'}}
        Simple chart
      {{/link-to}}
      {{#link-to 'chart-with-custom-settings'}}
        Chart with custom settings
      {{/link-to}}
      {{#link-to 'simple-dashboard'}}
        Simple dashboard
      {{/link-to}}
      {{#link-to 'chart-with-dynamic-settings'}}
        Chart with dynamic settings
      {{/link-to}}
      {{#link-to 'data-streaming'}}
        Data streaming
      {{/link-to}}<br>
      {{#link-to 'simple-stock-chart'}}
        Simple stock chart
      {{/link-to}}
      {{#link-to 'geographical-colored-map'}}
        Geographical colored map
      {{/link-to}}
      {{#link-to 'simple-gantt-chart'}}
        Simple gantt chart
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
