<div class="container">
  <h1 id="title">Welcome to Ember plugin for AnyChart examples page</h1>
  <div class="menu">
    <div class="links">
      {{#link-to 'simple'}}
        Simple chart
      {{/link-to}}
      {{#link-to 'chart-by-attributes'}}
        Chart with custom settings
      {{/link-to}}
      {{#link-to 'stage'}}
        Simple dashboard
      {{/link-to}}
      {{#link-to 'dynamic'}}
        Chart with dynamic settings
      {{/link-to}}
      {{#link-to 'streaming'}}
        Data streaming
      {{/link-to}}<br>
      {{#link-to 'gantt'}}
        Gantt chart
      {{/link-to}}
      {{#link-to 'stock'}}
        Stock chart
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>