<h2>Chart with custom settings</h2>
<p>In this example we create chart using only attributes:</p>
<p><code>&#123;&#123;ember-anychart data=model.data type=model.type title=model.title afterDraw=model.afterDraw&#125;&#125;</code></p>
<p>Chart instance is created automatically using <i>type</i> and <i>data</i> attributes. All attribute values are specified in route file
  <i>ember-anychart\tests\dummy\app\routes\chart-by-attributes.js</i></p>
<p>Also notice using <i>afterDraw</i> attribute. With this attribute you can set up callback function, that will be called
  after chart drawing is done and takes chart instance as it's first argument.</p>
{{ember-anychart data=model.data type=model.type title=model.title afterDraw=model.afterDraw}}
{{outlet}}
