<h2>Using stage example</h2>
<style>
    #custom-styled-container {
        border-color: green;
        width: 800px;
        height: 600px;
    }
</style>
<!-- Just pass our stage instance to ember-anychart component-->
<!-- Also we can set custom id and classes for chart containing div -->
{{ember-anychart instance=model.stage id="custom-styled-container" class="class2"}}
{{outlet}}
